.header {
  background-color: var(--background-head);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 6vh;

  .logo {
    width: 30%;

    @media (max-width: 1186px) {
      width: 40%;
      order: 2;
      text-align: center;
    }

    @media (max-width: 600px) {
      width: 70%;
    }

    h3 a {
      padding-left: 15px;
      color: black;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-decoration: none;
      transform: 0.7s all;

      &:hover {
        color: grey;
      }
    }
  }

  .navbar {
    width: 40%;

    @media (max-width: 1186px) {
      width: 30%;
      order: 1;
    }

    @media (max-width: 600px) {
      width: 15%;
    }

    ul {
      display: flex;
      width: 100%;
      list-style: none;

      li {
        width: 25%;
        text-align: center;
        transition: 1s all;

        &:hover {
          transform: scale(1.1);
        }
        a {
          color: black;
          font-size: 20px;
          letter-spacing: 1px;
          text-decoration: none;
          transition: 0.7s all;

          &:hover {
            color: grey;
            border-bottom: 1px solid grey;
          }
        }
        @media (max-width: 1186px) {
          display: none;
        }
      }
    }
  }

  .menuSanduiche {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
    width: 30%;
    transition: 0.7s all;
    font-size: 22px;

    @media (max-width: 1186px) {
      order: 3;
    }

    @media (max-width: 600px) {
      width: 15%;
    }

    :hover {
      color: grey;
      cursor: pointer;
    }

    i {
      @media (min-width: 1187px) {
        display: none;
      }
    }
  }

  .menuMobile {
    position: fixed;
    top: 0;
    right: -110%;
    width: 120px;
    height: 100vh;
    background-color: var(--background-head);
    transition: all 800ms ease;

    &.aberto {
      right: 0;
    }

    .menuMobileSeta {
      display: flex;
      align-items: center;
      background-color: var(--background-head);
      color: black;
      height: 8vh;
      padding: 10px;

      h3 {
        width: 100%;
        text-align: end;
      }
    }

    .menuMobileLista {
      ul {
        list-style: none;

        li a {
          display: flex;
          justify-content: end;
          align-items: center;
          margin: 10px 0;
          padding-right: 10px;
          color: black;
          font-size: 17px;
          text-decoration: none;

          &:hover {
            background-color: var(--background-two);
          }
        }
      }
    }
  }
}

.home {
  width: 100%;
  height: 95vh;

  .containerFoto {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
    img {
      width: 700px;
      height: 700px;
      border-radius: 50%;

      @media (max-width: 1980px) {
        width: 500px;
        height: 500px;
      }
      @media (max-width: 630px) {
        width: 370px;
        height: 370px;
      }
    }
  }
}
