.quemSomos {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  background-color: var(--background-one);
  padding: 50px 0px;

  h2 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0px auto 100px;
    border-bottom: 1px solid black;
  }

  .conteudo {
    width: 70%;
    margin: 20px auto;
    // border: 2px solid black;

    .caixaOne, .caixaTwo, .caixaThree {
      display: flex;
      justify-content: center;
      padding: 30px;

      p {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 20px;
        padding: 5px;
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
        text-indent: 30px;
      }

      .img1 {
        width: 30%;
        border-radius: 30% 0 0 30%;
      }

      .img2 {
        width: 30%;
        border-radius: 0 30% 30% 0;
      }
    }
  }
}
