* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-head: rgb(184, 184, 184, 0.9);
  --background-one: #f7f8fc;
  --background-two: #D6D6D6;
}

.header {
  background-color: var(--background-head);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 6vh;
}
.header .logo {
  width: 30%;
}
@media (max-width: 1186px) {
  .header .logo {
    width: 40%;
    order: 2;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header .logo {
    width: 70%;
  }
}
.header .logo h3 a {
  padding-left: 15px;
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  transform: 0.7s all;
}
.header .logo h3 a:hover {
  color: grey;
}
.header .navbar {
  width: 40%;
}
@media (max-width: 1186px) {
  .header .navbar {
    width: 30%;
    order: 1;
  }
}
@media (max-width: 600px) {
  .header .navbar {
    width: 15%;
  }
}
.header .navbar ul {
  display: flex;
  width: 100%;
  list-style: none;
}
.header .navbar ul li {
  width: 25%;
  text-align: center;
  transition: 1s all;
}
.header .navbar ul li:hover {
  transform: scale(1.1);
}
.header .navbar ul li a {
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.7s all;
}
.header .navbar ul li a:hover {
  color: grey;
  border-bottom: 1px solid grey;
}
@media (max-width: 1186px) {
  .header .navbar ul li {
    display: none;
  }
}
.header .menuSanduiche {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 15px;
  width: 30%;
  transition: 0.7s all;
  font-size: 22px;
}
@media (max-width: 1186px) {
  .header .menuSanduiche {
    order: 3;
  }
}
@media (max-width: 600px) {
  .header .menuSanduiche {
    width: 15%;
  }
}
.header .menuSanduiche :hover {
  color: grey;
  cursor: pointer;
}
@media (min-width: 1185px) {
  .header .menuSanduiche i {
    display: none;
  }
}
.header .menuMobile {
  position: fixed;
  top: 0;
  right: -110%;
  width: 120px;
  height: 100vh;
  background-color: var(--background-head);
  transition: all 800ms ease;
}
.header .menuMobile.aberto {
  right: 0;
}
.header .menuMobile .menuMobileSeta {
  display: flex;
  align-items: center;
  background-color: var(--background-head);
  color: black;
  height: 8vh;
  padding: 10px;
}
.header .menuMobile .menuMobileSeta h3 {
  width: 100%;
  text-align: end;
}
.header .menuMobile .menuMobileLista ul {
  list-style: none;
}
.header .menuMobile .menuMobileLista ul li a {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
  padding-right: 10px;
  color: black;
  font-size: 17px;
  text-decoration: none;
}
.header .menuMobile .menuMobileLista ul li a:hover {
  background-color: var(--background-two);
}

.home {
  width: 100%;
  height: 95vh;
}
.home .containerFoto {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .containerFoto img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
@media (max-width: 630px) {
  .home .containerFoto img {
    width: 370px;
    height: 370px;
  }
}

.quemSomos {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  background-color: var(--background-two);
}
.quemSomos h2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10vh auto 80px;
  border-bottom: 1px solid black;
}
.quemSomos .conteudo {
  width: 70%;
  margin: 20px auto;
}
.quemSomos .conteudo .caixaOne, .quemSomos .conteudo .caixaTwo, .quemSomos .conteudo .caixaThree {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.quemSomos .conteudo .caixaOne p, .quemSomos .conteudo .caixaTwo p, .quemSomos .conteudo .caixaThree p {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 20px;
  padding: 5px;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  text-indent: 30px;
}
.quemSomos .conteudo .caixaOne .img1, .quemSomos .conteudo .caixaTwo .img1, .quemSomos .conteudo .caixaThree .img1 {
  width: 30%;
  border-radius: 30% 0 0 30%;
}
.quemSomos .conteudo .caixaOne .img2, .quemSomos .conteudo .caixaTwo .img2, .quemSomos .conteudo .caixaThree .img2 {
  width: 30%;
  border-radius: 0 30% 30% 0;
}

.cifra {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 95vh;
  background-color: var(--background-one);
}
.cifra h2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10vh auto 80px;
  border-bottom: 1px solid black;
}
@media (max-width: 985px) {
  .cifra h2 {
    font-size: 25px;
  }
}
.cifra .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}
@media (max-width: 985px) {
  .cifra .container {
    width: 90%;
  }
}
.cifra .container .pacoteCifra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cifra .container .pacoteCifra .musicList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 4px 0px;
  margin: 10px 0;
}
@media (max-width: 985px) {
  .cifra .container .pacoteCifra .musicList {
    width: 90%;
  }
}
@media (max-width: 517px) {
  .cifra .container .pacoteCifra .musicList {
    width: 98%;
  }
}
@media (max-width: 985px) {
  .cifra .container .pacoteCifra .musicList h3 {
    font-size: 16px;
  }
}
@media (max-width: 517px) {
  .cifra .container .pacoteCifra .musicList h3 {
    font-size: 13px;
  }
}
.cifra .container .pacoteCifra .musicList .divButton {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 20px;
}
@media (max-width: 985px) {
  .cifra .container .pacoteCifra .musicList .divButton {
    width: 45px;
    height: 16px;
  }
}
@media (max-width: 517px) {
  .cifra .container .pacoteCifra .musicList .divButton {
    width: 40px;
    height: 15px;
  }
}
.cifra .container .pacoteCifra .musicList .divButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 10%;
  width: 47%;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 985px) {
  .cifra .container .pacoteCifra .musicList .divButton button i {
    font-size: 11px;
  }
}
@media (max-width: 517px) {
  .cifra .container .pacoteCifra .musicList .divButton button i {
    font-size: 9px;
  }
}
.cifra .container .pacoteCifra .imgCifra {
  display: none;
  width: 60%;
}
@media (max-width: 985px) {
  .cifra .container .pacoteCifra .imgCifra {
    width: 80%;
  }
}
@media (max-width: 517px) {
  .cifra .container .pacoteCifra .imgCifra {
    width: 100%;
  }
}
.cifra .container .pacoteCifra .imgCifra.aberto {
  display: block;
}
.cifra .container .pacoteCifra .imgCifra img {
  width: 100%;
  max-height: 95vh;
}

.contato {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-color: var(--background-two);
}
.contato h2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10vh auto 80px;
  border-bottom: 1px solid black;
}
.contato p {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 5%;
}
.contato .redesSociais {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato .redesSociais img {
  width: 100px;
  margin: 50% 20px;
}

.footer {
  background-color: var(--background-head);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */