* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-head: rgb(184, 184, 184, 0.9);
  --background-one: #f7f8fc;
  --background-two: #D6D6D6;
}

@import "header";
@import "quemSomos";
@import "cifras";
@import "contato";
@import "footer";
