* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-head: rgb(230, 230, 230, 0.8);
    --background-one: #e2e2e2;
    --background-two: #e6e6e6;
}

@import 'header';
@import 'quemSomos';
@import 'cifras';
